# {{ ansible_managed }}

# These two groups are read by the client library
# Use it for options that affect all clients, but not the server
#

[client]
host     = localhost
user     = root
socket   = /var/lib/mysql/mysql.sock
