# {{ ansible_managed }}
services=kafka:all:nfs
service.displayname=Kafka
service.command.start={{ kafka_home_dir }}/bin/kafka-server-start.sh -daemon {{ kafka_home_dir }}/config/server.properties
service.command.stop={{ kafka_home_dir }}/bin/kafka-server-stop.sh
service.command.type=BACKGROUND
service.command.monitorcommand={{ kafka_home_dir }}/bin/kafka-server-status.sh
service.port={{ kafka.port }}
service.logs.location=/mapr/{{ mapr.cluster_name }}/var/mapr/local/kafka/{{ inventory_hostname }}
service.process.type=JAVA
service.alarm.label=KafkaDown
service.alarm.tersename=Kafka
